{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1>Rechercher un voyage</h1>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Rechercher</button>
    {{ form_end(form) }}


    {% if voyages is defined %}
    
        {% for voyage in voyages %}

            <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Départ de {{voyage.getVilleDepart.villeNomReel}} pour {{voyage.getVilleArrivee.villeNomReel}} avec {{voyage.conducteur.prenom}}</div>
            <div class="card-body">
                <p class="card-text"><ul>
                    <li>Départ le {{voyage.dateDepart | date ('d/m/Y')}} à {{voyage.dateDepart | date ('H:i')}}</li>
                    <li>Arrivée le {{voyage.dateArrivee | date ('d/m/Y')}} à {{voyage.dateArrivee | date ('H:i')}}</li>
                    <li>{{voyage.nbpassager}} places</li>
                    <li>{{voyage.prix}} € par place</li>
                    <li>{{voyage.vehiculedescription}} </li>
                    <li><a class="btn btn-primary btn-lg" href="{{ path('reserver_voyage', { 'id': voyage.id }) }}" role="button">Réserver</a></li>

                </ul></p>
            </div>
        </div>
                
        {% endfor %}
    {% endif %}
    
{% endblock %}